@font-face {
  font-family: 'YuzuPop-Bold';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/YuzuPopA_M_Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'YuzuPop-Extra_Light';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/YuzuPopA_M_Extra_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'YuzuPop-Light';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/YuzuPopA_M_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'YuzuPop-Regular';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/YuzuPopA_M_Regular.ttf) format('truetype');
}

@mixin font-spec($name, $surfix, $style, $weight, $size: "") {
  font: {
    family: $name + $surfix;
    style: $style;
    weight: $weight;
    @if $size != "" {
      size: $size;
    }
  }
}

$font-name-normal: 'YuzuPop-';

@mixin font-mono($size: "") {
  @include font-spec('Roboto Mono', normal, 300, $size);
}
@mixin font-light($size: "") {
  @include font-spec($font-name-normal, "Extra Light", normal, 100, $size);
}
@mixin font-normal($size: "") {
  @include font-spec($font-name-normal, "Light", normal, 100, $size);
}
@mixin font-bold($size: "") {
  @include font-spec($font-name-normal, "Regular", normal, 100, $size);
}
@mixin font-extra-bold($size: "") {
  @include font-spec($font-name-normal, "Bold", normal, 100, $size);
}

ion-title {
    @include font-extra-bold();
}

ion-menu {
    ion-item {
        @include font-bold();
    }
}
