@mixin font-spec($name, $surfix, $style, $weight, $size: "") {
  font: {
    family: $name + $surfix;
    style: $style;
    weight: $weight;
    @if $size != "" {
      size: $size;
    }
  }
}

$font-name-normal: 'yuzu_pop_a_m_';

@mixin font-mono($size: "") {
  @include font-spec('Roboto Mono', normal, 300, $size);
}
@mixin font-light($size: "") {
  @include font-spec($font-name-normal, "extra_light", normal, normal, $size);
}
@mixin font-normal($size: "") {
  @include font-spec($font-name-normal, "light", normal, normal, $size);
}
@mixin font-bold($size: "") {
  @include font-spec($font-name-normal, "regular", normal, normal, $size);
}
@mixin font-extra-bold($size: "") {
  @include font-spec($font-name-normal, "bold", normal, bold, $size);
}

ion-title {
    @include font-extra-bold();
}

ion-menu {
    ion-item {
        @include font-bold();
    }
}
