<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="top-message">
        <p *ngFor="let msg of topMessages; let i = index" class="m{{i}}">{{msg}}</p>
    </div>
    <div class="main">
        <ion-spinner *ngIf="!isReady"></ion-spinner>
        <ion-slides #slides *ngIf="isReady" [options]="slideOptions" (click)="choose()">
            <ion-slide *ngFor="let item of items">
                <div class="slide-content">
                    <h1>{{item.name}}</h1>
                    <img [src]="item.titleImage.url">
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
