@mixin price($size) {
}

page-home {
    .scroll-content {
        background-image: linear-gradient(lightcyan, white);
        background-size: 100vw 50vw;
        background-repeat: no-repeat;
/*
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
*/
        .spinner {
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            * {
                stroke: lightpink;
            }
        }

        h1 {
            color: #444;
            word-wrap: normal;
        }
        p.price {
            word-wrap: normal;
            color: pink;
            @include font-normal(1rem);
            .value {
                @include font-bold(1.1rem);
            }
        }

        .news {
            width: 100%;
            .item {
                background: transparent;
            }
            &>ion-item {
                padding: 2rem;
                * {
                    border: none;
                }
                h1 {
                    margin: 0rem;
                    color: #387EF5;
                    @include font-mincho(3rem);
                }
                p {
                    margin: 0rem;
                    color: #387EF5;
                    @include font-mincho(2rem);
                    white-space: normal;
                }
            }
            &>button {
                &:first-child {
                    border: none;
                }

                h1 {
                    @include font-mincho(2rem);
                }
                p.desc {
                    @include font-light(1.2rem);
                    white-space: normal;
                }
            }
        }

        .selector {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .categorized {
            &>ion-list {
                &>ion-item {
                    p {
                        @include font-bold(1.4rem);
                    }
                }
                &>button {
                    h1 {
                        @include font-mincho(1.8rem);
                    }
                    p.price {
                        font-size: 1.2rem;
                        .value {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }

        .gender {
            display: flex;
            justify-content: space-around;

            .girls, .boys {
                &>ion-item {
                    border: none;
                    h1 {
                        padding-left: 3rem;
                        @include font-pop(2rem);
                    }
                }
                &>button {
                    ion-thumbnail {
                        min-width: 3rem;
                        min-height: 3rem;
                        margin-right: 8px;
                        img {
                            max-width: 6rem;
                        }
                    }

                    h1 {
                        @include font-mincho(1.5rem);
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}
