<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!news" class="spinner">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="news" class="news" [ngClass]="{ hasMore: news.hasMore}">
        <fathens-item_list
            [items]="news.items"
            [title]="news.title"
            [message]="news.message"
            (choose)="choose($event)">
        </fathens-item_list>

        <button ion-item *ngIf="news.hasMore" class="more" (click)="more(news)">
            <p>{{ readMore }}</p>
        </button>
    </div>

    <div *ngIf="categoryKeys" class="selector">
        <ion-item>
            <ion-label>{{ titleCategorySelect }}</ion-label>
            <ion-select [(ngModel)]="categoryKey">
                <ion-option [value]="unselectedCategoryKey" [selected]="categoryKey === unselectedCategoryKey">{{ unselectedCategoryKey }}</ion-option>
                <ion-option *ngFor="let key of categoryKeys"
                    [value]="key"
                    [selected]="key === categoryKey">
                    {{ categories[key].title }}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>

    <div *ngIf="categorized" class="categorized" [ngClass]="{ hasMore: categorized.hasMore}">
        <fathens-item_list
            [items]="categorized.items"
            [message]="categorized.message"
            [withDesc]="false"
            (choose)="choose($event)">
        </fathens-item_list>

        <button ion-item *ngIf="categorized.hasMore" class="more" (click)="more(categorized)">
            <p>{{ readMore }}</p>
        </button>
    </div>

    <div *ngIf="gendered && !categorized" class="gender">
        <fathens-item_list *ngFor="let gender of gendered" [class]="gender.key"
            [items]="gender.items"
            [title]="gender.title"
            [withDesc]="false"
            (choose)="choose($event)">
        </fathens-item_list>
    </div>
</ion-content>
