.home {
    $rsize-in: 25%;
    $rsize-out: 25%;
    background-image: radial-gradient(#A4FFFF $rsize-in, transparent $rsize-out), radial-gradient(#FFB4B4 $rsize-in, transparent $rsize-out), radial-gradient(#B4FFB4 $rsize-in, transparent $rsize-out), radial-gradient(#FFFFB4 $rsize-in, transparent $rsize-out);
    background-size: 100vw 100vw;
    background-position: 15vw 10vw, -25vw -25vw, -50vw 15vw, 45vw -35vw;
    background-repeat: no-repeat;

    .top-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 5rem;
        p {
            margin: 1rem;
            color: #387EF5;
            &.m0 {
                @include font-extra-bold(3rem);
            }
            &.m1 {
                @include font-extra-bold(2.5rem);
            }
        }
    }
    .main {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide-zoom {
            height: 100%;
        }
    }
}
