@mixin price($size) {
}

page-home {
    .scroll-content {
        background-image: linear-gradient(lightcyan, white);
        background-size: 100vw 50vw;
        background-repeat: no-repeat;

        ion-spinner * {
            stroke: lightpink;
        }
        div.spinner {
            display: flex;
            justify-content: center;
            margin-top: 5rem;
        }

        h1 {
            color: #444;
            word-wrap: normal;
        }

        button.item.more {
            .item-inner {
                border: none;
            }
            p {
                text-align: right;
            }
        }

        .news {
            width: 100%;
            .item {
                background: transparent;
            }

            ion-list {
                margin-bottom: 0;

                ion-list-header {
                    padding: 2rem;
                    h1 {
                        margin: 0rem;
                        color: #387EF5;
                        @include font-mincho(3rem);
                    }
                    p {
                        margin: 0rem;
                        color: #387EF5;
                        @include font-mincho(2rem);
                        white-space: normal;
                    }
                }
                button.item {
                    h1 {
                        @include font-mincho(2rem);
                    }
                }
            }
        }

        .selector {
            margin-top: 1rem;
            margin-bottom: 1rem;

            ion-select {
                color: gray;
            }
        }

        .categorized {
            ion-list {
                ion-list-header {
                    p {
                        @include font-bold(1.4rem);
                    }
                }
            }
        }

        .gender {
            display: flex;
            justify-content: space-around;

            ion-list {
                ion-list-header {
                    h1 {
                        padding-left: 3rem;
                        @include font-pop(2rem);
                    }
                }
                button.item {
                    ion-thumbnail {
                        min-width: 3rem;
                        min-height: 3rem;
                        margin-right: 8px;
                        img {
                            max-width: 6rem;
                            max-height: 6rem;
                        }
                    }

                    h1 {
                        @include font-mincho(1.5rem);
                    }
                }
            }
        }
    }
}
