<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!isReady" class="notReady">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="isReady">
        <div class="main">
            <div class="reversible">
                <div *ngFor="let sd of sides" [@turnOver]="onSide(sd)" [id]="sd">
                    <div class="image">
                        <fathens-cached_image [target]="item.getImage(sd)"></fathens-cached_image>
                    </div>
                    <div class="controllers">
                        <div *ngFor="let spec of getSpecs(sd)" [id]="spec.key">
                            <button ion-button (click)="openSpec(spec)">
                                {{spec.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed-pannel">
                <button ion-button icon-only clear color="secondary" (click)="turn_over()">
                    <custom-icon set="fathens" name="turn_over"></custom-icon>
                </button>
            </div>
        </div>

        <div class="price">
            <p class="message">{{priceMessage}}</p>
            <p class="value">{{priceUnit}}{{item.totalPrice | number}}-</p>
        </div>
        <div class="measurements">
            <ion-item *ngFor="let meas of item.measurements" [class]="meas.key">
                <ion-label>{{meas.name}}</ion-label>
                <ion-select [(ngModel)]="meas.current" [selectedText]="meas.current | number">
                    <ion-option *ngFor="let v of meas.range" [value]="v" [selected]="v == meas.current">
                        {{v | number}}
                    </ion-option>
                </ion-select>
            </ion-item>
        </div>
        <div *ngFor="let sd of sides" class="specs">
            <div *ngFor="let spec of getSpecs(sd)" [id]="spec.key">
                <p>{{spec.name}}</p>
                <p (click)="openSpec(spec)">{{spec.current.name}}</p>
            </div>
        </div>
    </div>
</ion-content>
