// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@mixin font-spec($name, $surfix, $style, $weight, $size: "") {
  font: {
    family: $name + $surfix;
    style: $style;
    weight: $weight;
    @if $size != "" {
      size: $size;
    }
  }
}

$font-name-normal: 'Yuzu Pop A [M] ';

@mixin font-mono($size: "") {
  @include font-spec('Roboto Mono', '', normal, 300, $size);
}
@mixin font-light($size: "") {
  @include font-spec($font-name-normal, "Extra Light", normal, normal, $size);
}
@mixin font-normal($size: "") {
  @include font-spec($font-name-normal, "Light", normal, normal, $size);
}
@mixin font-bold($size: "") {
  @include font-spec($font-name-normal, "Regular", normal, normal, $size);
}
@mixin font-extra-bold($size: "") {
  @include font-spec($font-name-normal, "Bold", normal, bold, $size);
}

ion-title {
    @include font-extra-bold();
}

ion-menu {
    ion-item {
        @include font-bold();
    }
}

@import "../components/gist/gist";

@import "../pages/home/home";
@import "../pages/help/help";
@import "../pages/terms/terms";
@import "../pages/custom/custom";
@import "../pages/custom/spec_dialog";
