// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@mixin font-spec($name, $style, $weight, $size: "") {
    font: {
        @if $name != "" {
            family: $name
        } @else {
            family: sans-serif;
        }
        style: $style;
        weight: $weight;
        @if $size != "" {
            size: $size;
        }
    }
}

@mixin font-mono($size: "") {
    @include font-spec('Roboto Mono', normal, 300, $size);
}
@mixin font-light($size: "") {
    @include font-spec('', normal, 100, $size);
}
@mixin font-normal($size: "") {
    @include font-spec('', normal, 300, $size);
}
@mixin font-bold($size: "") {
    @include font-spec('', normal, 500, $size);
}
@mixin font-extra-bold($size: "") {
    @include font-spec('', normal, 700, $size);
}
@mixin font-mincho($size: "") {
    @include font-spec('Harenosora', normal, 100, $size);
}

ion-title {
    @include font-mincho();
}

ion-menu {
    ion-item {
        @include font-bold();
    }
}
