@import "bourbon";

.home {
    @include background-image(radial-gradient(#A4FFFF 20%, transparent 22%), radial-gradient(#FFB4B4 20%, transparent 22%), radial-gradient(#B4FFB4 20%, transparent 22%), radial-gradient(#FFFFB4 20%, transparent 22%));
    background-size: 400px 400px;
    background-position: 50px 0, -100px -100px, -150px 50px, 150px -150px;
    background-repeat: no-repeat;

    .top-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 10%;
        p {
            margin: 1rem;
            color: #387EF5;
            &.h1 {
                @include font-extra-bold(3rem);
            }
            &.h2 {
                @include font-bold(2rem);
            }
        }
    }
    .main {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide-zoom {
            height: 100%;
        }
    }
}
