@import "bourbon";

.home {
    .top-message {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notReady {
        display: flex;
        justify-content: center;
    }
    .main {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide-zoom {
            height: 100%;
        }
    }
}
