<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Home
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <div>
        商品一覧
    </div>
    <div class="notReady" *ngIf="!items">
        <ion-spinner></ion-spinner>
    </div>
    <ion-slides *ngIf="items" [options]="slideOptions">
        <ion-slide *ngFor="let item of items">
            <h1>{{item.name}}</h1>
            <img [src]="item.image">
        </ion-slide>
    </ion-slides>
</ion-content>
