<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="home">
    <div class="top-message">
        <p class="h1">カスタムメイド</p>
        <p class="h2">ラインナップ</p>
    </div>
    <div class="main">
        <ion-spinner *ngIf="!isReady"></ion-spinner>
        <ion-slides *ngIf="isReady" [options]="slideOptions">
            <ion-slide *ngFor="let item of items">
                <div class="slide-content">
                    <h1>{{item.name}}</h1>
                    <img [src]="item.image">
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>
