<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content id="custom-page">
    <div *ngIf="!isReady" class="notReady">
        <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="isReady">
        <div class="main">
            <div class="reversible">
                <div id="front" @turnOver="onFront">
                    <div class="image">
                        <img [src]="item.imageFront">
                    </div>
                    <div class="controllers">
                        <button *ngFor="let spec of specsFront" [class]="spec.info.key" (click)="openSpec(spec.info.key)">
                            {{spec.info.name}}
                        </button>
                    </div>
                </div>
                <div id="back" @turnOver="onBack">
                    <div class="image">
                        <img [src]="item.imageBack">
                    </div>
                    <div class="controllers">
                        <button *ngFor="let spec of specsBack" [class]="spec.info.key" (click)="openSpec(spec.info.key)">
                            {{spec.info.name}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="fixed-pannel">
                <button clear secondary (click)="turn_over()">
                    <custom-icon set="fathens" name="turn_over"></custom-icon>
                </button>
            </div>
        </div>

        <div class="price">
            <p class="message">{{priceMessage}}</p>
            <p class="value">{{priceUnit}}{{item.totalPrice | number}}-</p>
        </div>
        <div class="specs">
            <div *ngFor="let spec of item.specs" [class]="spec.info.key">
                <p>{{spec.info.name}}</p>
                <p>{{spec.currentValue.name}}</p>
            </div>
        </div>
    </div>
</ion-content>
