#spec-dialog {
    ion-card {
        .loading {
            display: flex;
            justify-content: center;
        }
        .title {
            display: flex;
            justify-content: space-between;
        }
    }
}
