<ion-header>
    <ion-toolbar>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons start>
            <button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="spec-dialog">
    <ion-list>
        <ion-card *ngFor="let value of values">
            <div *ngIf="!image(value)" class="loading">
                <ion-spinner></ion-spinner>
            </div>
            <img *ngIf="image(value)" [src]="image(value)">
            <ion-card-content>
                <ion-card-title>{{value.name}}</ion-card-title>
                <p>{{value.description}}</p>
                <div class="footer">
                    <div class="price">
                        <p class="unit">{{priceUnit}}</p>
                        <p class="value">{{value.price | number}}</p>
                        <p class="surfix">-</p>
                    </div>
                    <button (click)="choose(value)" favorite>{{textChoose}}</button>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
